@using AjaxSampleCore.ViewModels
@using System.Collections.Generic;
@model IEnumerable<BookViewModel>

@{
    ViewData["Title"] = "書籍一覧";
}

<h1>
    @ViewData["Title"]
</h1>

<div>
    <span>本の検索</span>

    <hr>

    @* JavaScript + Partial View *@
    <form id="form1">
        @* @Html.AntiForgeryToken() *@
        <span>JavaScript + Partial View</span><br/>
        <input type="text" name="searchText">
        <input type="submit" value="検索">
    </form>

    <hr>

    @* JavaScript + Web API *@
    <form id="form2">
        <span>JavaScript + Web API</span><br />
        <input type="text" id="searchText">
        <input type="submit" value="検索">
    </form>

    <hr>

    <div id="result">
        @* @Html.Partial("Part", Model); *@
        @await Html.PartialAsync("Part", Model);
    </div>

    <hr>
</div>

@section scripts {
        @* JavaScript + Partial View *@
        @* JavaScript + Web API *@
    <script src="~/js/BooksIndex.js"></script>
}
